{%extends 'layout.njk'%}
{% block content %}
    <main>
        <h1>Adicionar Carro</h1>
        <form action="">
            {% include 'cars/fields.njk'  %}
        </form>
    </main>
{% endblock content %}