{%extends 'layout.njk'%}
{% block content %}
    <main>
        <h1>Adicionar Carro</h1>
        <form action="/cars" method="POST">
            {% include 'cars/fields.njk'  %}
            <button type="submit">Salvar</button>
        </form>
    </main>
{% endblock content %}