<header>
    <section>
        <div>Hodum</div>
        <div class="links">
            <a href="/teachers">Agências</a>
            <a href="/students">Modelos</a>
        </div>
    </section>
</header>